<app-header title=""></app-header>
<ion-content>

<ion-grid [fixed]="true" >
  <ion-row>
    <ion-col>
      <ion-toolbar>
        <ion-segment scrollable="true" [value]="optionSelected"
        (ionChange)="segmentChanged($event)" value="1">
          <ion-segment-button value="1">
            <ion-label>Transferencia</ion-label>
          </ion-segment-button>

        </ion-segment>
      </ion-toolbar>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row class="ion-justify-content-center">
    <ion-col size="12" size-md="10" size-lg="8" size-xl="6">

      <div *ngIf="optionSelected == '1'">
        <app-list-donar [donaciones]="datosDonar$ | async"
                (donacionDeleted)="reloadDatos()" ></app-list-donar>
      </div>


    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>
