
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

ion-col {
  // background-color: #135d54;
  // border: solid 1px #fff;
   color: #fff;
   text-align: center;

 }

 ion-title{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: black;
 }

 ion-item{

   margin-left: 12%;
   margin-right: 12%;
   margin-top: 10px;
 }


ion-label{

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-weight: bold;
}

ion-input{

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;

}
