
  <ion-grid [fixed]="true">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-title>Datos de transferencia</ion-title>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

    <ion-row>
      <ion-col>
      <ion-col >

          <ion-item fill="outline" id="custom-item" counter="true" [counterFormatter]="customCounterFormatter">
          <ion-label position="stacked">Nombre</ion-label>
            <ion-input placeholder="Nombre" maxlength="20"  [(ngModel)]="newDonacion.nombre" type="text" required></ion-input>
        </ion-item>

        <ion-item fill="outline" id="custom-item" counter="true" [counterFormatter]="customCounterFormatter">
          <ion-label position="stacked" >Rut</ion-label>
            <ion-input placeholder="Rut"  [(ngModel)]="newDonacion.rut" type="text" maxlength="9" required></ion-input>
        </ion-item>

        <ion-list>
          <ion-item fill="outline">
            <ion-label position="stacked">Banco</ion-label>
            <ion-select placeholder="Banco"  interface="popover"  [(ngModel)]="newDonacion.banco" required>
              <ion-select-option value="Banco Estado">Banco Estado</ion-select-option>
              <ion-select-option value="Banco Santander Chile">Banco Santander Chile</ion-select-option>
              <ion-select-option value="Banco de Chile">Banco de Chile</ion-select-option>
              <ion-select-option value="Banco Internacional">Banco Internacional</ion-select-option>
              <ion-select-option value="Scotiobank Chile">Scotiobank Chile</ion-select-option>
              <ion-select-option value="Banco de crédito e inversiones">Banco de crédito e inversiones</ion-select-option>
              <ion-select-option value="Banco Bice">Banco Bice</ion-select-option>
              <ion-select-option value="HSBC BANK">HSBC BANK</ion-select-option>
              <ion-select-option value="Itaú Corpbanca">Itaú Corpbanca</ion-select-option>
              <ion-select-option value="Banco Security">Banco Security</ion-select-option>
              <ion-select-option value="Banco Falabella">Banco Falabella</ion-select-option>
              <ion-select-option value="Banco Ripley">Banco Ripley</ion-select-option>
              <ion-select-option value="Banco Consorcio">Banco Consorcio</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item fill="outline" id="custom-item" counter="true" [counterFormatter]="customCounterFormatter">
            <ion-label position="stacked">Tipo</ion-label>
            <ion-select placeholder="Tipo de cuenta"  interface="popover"  [(ngModel)]="newDonacion.tipo" required>
              <ion-select-option value="CORRIENTE">Cuenta Corriente /Cuenta Vista</ion-select-option>
              <ion-select-option value="AHORRO">Cuenta de ahorro</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-item fill="outline" id="custom-item" counter="true" [counterFormatter]="customCounterFormatter">
          <ion-label position="stacked" >Número de cuenta</ion-label>
            <ion-input placeholder="Número de cuenta"  [(ngModel)]="newDonacion.cuenta"type="text" maxlength="20" required></ion-input>
        </ion-item>

        <ion-item fill="outline" >
          <ion-label position="stacked" >Correo</ion-label>
            <ion-input placeholder="Correo"  [(ngModel)]="newDonacion.correo" type="text" required></ion-input>
        </ion-item>


        <ion-item lines="none"></ion-item>
          <ion-button lines="none" (click)="guardarDonacion()">
            Crear Datos
          </ion-button>
      </ion-col>
    </ion-col>
    </ion-row>
  </ion-grid>
