table {
  width: 100%;
}
thead th {
  background-color: #F25657;
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
td, th {
  border: 1px solid #ddd;
  padding: 2px;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

select {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: none;
  font-size: 1em;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

ion-title{

  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 22px;
  text-align: center;

}


ion-card{

  --background: rgb(252, 252, 252);
}

ion-card-title{

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
}

ion-card-subtitle{

  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
}

ion-card-content{
  text-align: justify;
}






ion-title{

  text-align: center;
}
