<ion-header>
  <ion-toolbar>
    <ion-title>

    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <img alt="Silhouette of mountains" src="{{foto}}" />
    <ion-card-header>
      <ion-card-title>{{nombre}}</ion-card-title>
      <ion-card-subtitle class="category">{{estado}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-label position="stacked"> Raza:</ion-label>
          <ion-text>{{raza}}</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked"> color:</ion-label>
          <ion-text>{{color}}</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked"> Tamaño:</ion-label>
          <ion-text>{{tamanio}}</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked"> Carácter:</ion-label>
          <ion-text>{{description}}</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked"> Especie: </ion-label>
          <ion-text>{{especie}}</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked"> MicroChip</ion-label>
          <ion-text>{{microChip}}</ion-text>
        </ion-item>
      </ion-list>

    </ion-card-content>

</ion-content>
