ion-title{

  margin-left: 30%;
  margin-right: 30%;
  margin-top: 15px;

}

ion-item{

  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
}

ion-button{

  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10px;

}

ion-text{

  font-size: small;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10px;
}
