
  <ion-grid [fixed]="true">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-title>Datos de transferencia</ion-title>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

    <ion-row>
      <ion-col>
      <ion-col >
        <form [formGroup]="form" novalidate>
          <ion-item fill="outline">
          <ion-label position="stacked">Nombre</ion-label>
            <ion-input placeholder="nombre"  formControlName="nombre" type="text"></ion-input>
            <ion-note slot="helper" *ngIf="!form.controls.nombre.valid && form.controls.nombre.touched"></ion-note>
            <ion-note slot="error"></ion-note>
        </ion-item>

        <ion-item fill="outline">
          <ion-label position="stacked" >Rut</ion-label>
            <ion-input placeholder="rut"  formControlName="rut" type="text" ></ion-input>
            <ion-note slot="helper" *ngIf="!form.controls.rut.valid && form.controls.rut.touched">Campo obligatorio</ion-note>
            <ion-note slot="error"></ion-note>
        </ion-item>

        <ion-list>
          <ion-item fill="outline">
            <ion-label position="stacked">Banco</ion-label>
            <ion-select placeholder="Banco"  interface="popover"  formControlName="banco">
              <ion-select-option value="1">Banco Estado</ion-select-option>
              <ion-select-option value="2">Banco Santander Chile</ion-select-option>
              <ion-select-option value="3">Bancho de Chile</ion-select-option>
              <ion-select-option value="4">Bancho Internacional</ion-select-option>
              <ion-select-option value="5">Scotiobank Chile</ion-select-option>
              <ion-select-option value="6">Bancho de crédito e inversiones</ion-select-option>
              <ion-select-option value="7">Bancho Bice</ion-select-option>
              <ion-select-option value="8">HSBC BANK</ion-select-option>
              <ion-select-option value="9">Itaú Corpbanca</ion-select-option>
              <ion-select-option value="10">Bancho Security</ion-select-option>
              <ion-select-option value="11">Bancho Falabella</ion-select-option>
              <ion-select-option value="12">Bancho Ripley</ion-select-option>
              <ion-select-option value="13">Bancho Consorcio</ion-select-option>
            </ion-select>
            <ion-note slot="helper" *ngIf="!form.controls.banco.valid && form.controls.banco.touched"></ion-note>
          <ion-note slot="error"></ion-note>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item fill="outline">
            <ion-label position="stacked">Tipo</ion-label>
            <ion-select placeholder="Tipo de cuenta"  interface="popover"  formControlName="tipo">
              <ion-select-option value="CORRIENTE">Cuenta Corriente /Cuenta Vista</ion-select-option>
              <ion-select-option value="AHORRO">Cuenta de ahorro</ion-select-option>
            </ion-select>
            <ion-note slot="helper" *ngIf="!form.controls.tipo.valid && form.controls.tipo.touched"></ion-note>
          <ion-note slot="error"></ion-note>
          </ion-item>
        </ion-list>

        <ion-item fill="outline">
          <ion-label position="stacked" >Número de cuenta</ion-label>
            <ion-input placeholder="número de cuenta"  formControlName="cuenta" type="text" ></ion-input>
            <ion-note slot="helper" *ngIf="!form.controls.cuenta.valid && form.controls.cuenta.touched">Campo obligatorio</ion-note>
            <ion-note slot="error"></ion-note>
        </ion-item>

        <ion-item fill="outline">
          <ion-label position="stacked" >Correo</ion-label>
            <ion-input placeholder="correo"  formControlName="correo" type="text" ></ion-input>
            <ion-note slot="helper" *ngIf="!form.controls.correo.valid && form.controls.correo.touched">Campo obligatorio</ion-note>
            <ion-note slot="error"></ion-note>
        </ion-item>


        <ion-item lines="none"></ion-item>
          <ion-button lines="none"  [disabled]="!form.valid"
              (click)="onCreateDonacion()">
            Crear Publicación
          </ion-button>
        </form>
      </ion-col>
    </ion-col>
    </ion-row>
  </ion-grid>
