<ion-content>
  <div class="hero">
    <div class="center">
    <h1 class="titulo-banner" style="font-size:6vw" ></h1>
      <img alt="img" src='../../assets/icon/banner-original.jpg'>
    </div>
  </div>

  <ion-grid class="col">
    <ion-row>
      <ion-col class="col1">
        <h1> Sabemos que el proceso de encontrar una mascota a veces puede ser un poco difícil,
          es por eso que queremos ayudar a nuestros Petlovers a encontrar a su nuev@ mejor amig@.
          En este apartado podrá encontrar todas las Organizaciones disponibles en Petfriends!
        </h1>
      </ion-col>
    </ion-row>
    </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col class="col2">
        <ion-searchbar color="light" ></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <section class="grid">
      <div >
        <ion-card >
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>
      <div >
        <ion-card >
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
          <ion-card-header>
            <ion-card-title>Card Title</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>
      <div class="card"></div>
      <div class="card"></div>
      <div class="card"></div>
    </section>
  </ion-grid>
</ion-content>

<app-footer titulo="© 2022 Petfriends - Todos los derechos reservados.">
</app-footer>


