<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="dismissModal()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Editar</ion-title>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding"  >
  <form >
    <ion-item>
      <ion-label position="stacked">Titulo</ion-label>
      <ion-input [formControl]="nuevoInput"   type="text" placeholder="Titulo" ></ion-input>
    </ion-item>

      <ion-button [disabled]="nuevoInput.invalid" (click)="save()" expand="block">Guardar</ion-button>

  </form>

</ion-content>
