<div class="create-user">

  <ion-title>Registro Usuario</ion-title>

<form [formGroup]="form">



    <ion-item >
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input formControlName="password"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label position="stacked" >Eres una organizacion amiga?</ion-label>
      <ion-toggle slot="end" color="primary" formControlName="admin" ></ion-toggle>
    </ion-item>


    <ion-button (click)="onCreateUser()"
     expand='block'>Signup</ion-button>
  </form>

  <ion-text (click)="singup()">Ya tengo una cuenta <a>Login</a></ion-text>
</div>
