<div class="create-user">


<form [formGroup]="form">

  <ion-title class="titulo-principal">Registro Usuario</ion-title>

    <ion-item >
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>

    <ion-item lines="none" style="display: flex; align-items: center;">
        <ion-buttons id="hover-trigger">
          <ion-icon slot="end" name="information-circle" size="small" style="color:rgb(235, 68, 90) "></ion-icon>
        </ion-buttons>
          <ion-popover trigger="hover-trigger" triggerAction="hover">
            <ng-template>
        <ion-content class="ion-padding" style="font-style: oblique;">Una organización amiga es la entidad encargada de la protección animal,
          como, por ejemplo Fundaciones, Veterinarias, Rescatistas, servicios de adopción, entre otros.</ion-content>
        </ng-template>
      </ion-popover>
      <ion-label style="flex: 1; font-size: small; margin-right: 4vh;" >Eres una organizacion amiga?</ion-label>
      <ion-toggle  slot="end" formControlName="admin"></ion-toggle>
    </ion-item>

    <ion-button (click)="onCreateUser()"
     expand='block'>Crear Cuenta</ion-button>

  </form>

  <div class="title">
    <ion-text (click)="singup()">¿Ya tienes una cuenta? <a> Ingresar</a></ion-text>
  </div>




</div>
