ion-icon{
  color: rgb(235, 68, 90);

}

ion-item{

  --color: rgb(235, 68, 90);
 --background-color: white; /* Green */
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;


  ion-item:hover{

    --color: rgb(235, 68, 90);
    --background-color: white; /* Green */

  }



}



