
  <ion-grid [fixed]="true">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-title>Crear Publicación</ion-title>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

    <ion-row>
      <ion-col>
      <ion-col >
        <form [formGroup]="form" novalidate>
          <ion-list>
            <ion-item fill="outline">
              <ion-label position="stacked"> Categoría </ion-label>
              <ion-select placeholder="Categoría"  interface="popover"  formControlName="category">
                <ion-select-option value="MASCOTA">Mascota</ion-select-option>
                <ion-select-option value="NOTICIA">Noticia</ion-select-option>
              </ion-select>
              <ion-note slot="helper" *ngIf="!form.controls.titulo.valid && form.controls.titulo.touched"></ion-note>
            <ion-note slot="error"></ion-note>
            </ion-item>
          </ion-list>

          <ion-item fill="outline">
          <ion-label position="stacked"> Título </ion-label>
            <ion-input placeholder="Título"  formControlName="titulo" type="text"></ion-input>
            <ion-note slot="helper" *ngIf="!form.controls.titulo.valid && form.controls.titulo.touched"></ion-note>
            <ion-note slot="error"></ion-note>
        </ion-item>

        <ion-item fill="outline" >
          <ion-label position="stacked" >Descripción</ion-label>
            <ion-input placeholder="Descripción"  formControlName="description" type="text" ></ion-input>
            <ion-note slot="helper" *ngIf="!form.controls.description.valid && form.controls.description.touched">Campo obligatorio</ion-note>
            <ion-note slot="error"></ion-note>
        </ion-item>

        <ion-item lines="none">
          <ion-label >Subir imagen</ion-label>
          <ion-buttons slot="end">
            <ion-button>
              <label for="file-upload">
                <ion-icon slot="icon-only" name="images"></ion-icon>
              </label>
              <input  (change)="uploadThumbnail($event)" id="file-upload" style="display: none;" type="file" accept="image/*">
            </ion-button>
          </ion-buttons>
        </ion-item>

        <ion-item lines="none"></ion-item>
          <ion-button lines="none"  [disabled]="!form.valid"
              (click)="onCreatePublicacion()">
            Crear Publicación
          </ion-button>
        </form>
      </ion-col>
    </ion-col>
    </ion-row>
  </ion-grid>


