<ion-content>
  <ion-grid [fixed]="true" class="principal" >
    <ion-row>
      <ion-col>
        <img  class="responsive-banner" alt="" src="../../assets/icon/perro2.jpg">
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid [fixed]="true" class="secondary">
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <form [formGroup]="form">
          <ion-item>
            <ion-input placeholder="User email"  formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input type="password" placeholder="User password" formControlName="password" ></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Is the user an administrator?</ion-label>
            <ion-toggle class="promo" color="primary" formControlName="admin"></ion-toggle>
          </ion-item>

        <ion-button color="success" (click)="onCreateUser()" [disabled]="form.invalid">Crear usuario</ion-button>
        </form>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
</ion-grid>

</ion-content>

