
   <ion-grid [fixed]="true">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-title>Datos de transferencia</ion-title>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

 <ion-card *ngFor="let donacion of donaciones">
    <ion-card-content>
        <ion-item lines="none">
          <ion-label position="stacked"> Nombre:  </ion-label>
          <ion-text>{{donacion.nombre}}</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked"> RUT:  </ion-label>
          <ion-text>{{donacion.rut}}</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Banco: </ion-label>
          <ion-text>{{donacion.banco}}</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Tipo: </ion-label>
          <ion-text>{{donacion.tipo}}</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">N° de cuenta: </ion-label>
          <ion-text>{{donacion.cuenta}}</ion-text>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked" >Correo: </ion-label>
          <ion-text>{{donacion.correo}}</ion-text>
        </ion-item>

    </ion-card-content>

    <ng-container *ngIf="(user.roles$ | async) as roles" >
      <ng-container *ngIf="roles.admin">
        <ion-button fill="clear" (click)="openModal(donacion)">Editar</ion-button>
        <ion-button fill="clear"(click)="deleteDonacion(donacion)" >Delete</ion-button>
      </ng-container>
    </ng-container>

  </ion-card>
