
   <ion-grid [fixed]="true">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-title>Datos de transferencia</ion-title>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>

 <ion-card *ngFor="let donacion of donaciones">
    <ion-card-header>
      <ion-card-title>{{donacion.nombre}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon slot="start" size="small" name="checkmark-outline"></ion-icon>
          <ion-label> RUT:  </ion-label>
          <ion-text>{{donacion.rut}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" size="small" name="checkmark-outline"></ion-icon>
          <ion-label>Banco: </ion-label>
          <ion-text>{{donacion.banco}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" size="small" name="checkmark-outline"></ion-icon>
          <ion-label>Tipo: </ion-label>
          <ion-text>{{donacion.tipo}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" size="small" name="checkmark-outline"></ion-icon>
          <ion-label>cuenta: </ion-label>
          <ion-text>{{donacion.cuenta}}</ion-text>
        </ion-item>
        <ion-item>
          <ion-icon slot="start" size="small" name="checkmark-outline"></ion-icon>
          <ion-label >Correo: </ion-label>
          <ion-text>{{donacion.correo}}</ion-text>
        </ion-item>
      </ion-list>

    </ion-card-content>

    <ng-container *ngIf="(user.roles$ | async) as roles" >
      <ng-container *ngIf="roles.admin">
        <ion-button fill="clear" (click)="openModal(donacion)">Editar</ion-button>
        <ion-button fill="clear"(click)="deleteDonacion(donacion)" >Delete</ion-button>
      </ng-container>
    </ng-container>

  </ion-card>
