<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="save()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [formGroup]="form">
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input type="text" placeholder="Nombre"  formControlName="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Raza</ion-label>
    <ion-input type="text" placeholder="Raza"formControlName="raza" ></ion-input>
  </ion-item>
</ion-content>

