<app-header></app-header>
<ion-content>
<div class="hero"></div>

<ion-grid [fixed]="true" >
  <ion-row>
    <ion-col>
      <ion-toolbar>
        <ion-segment scrollable="true" [value]="optionSelected"
        (ionChange)="segmentChanged($event)" value="MASCOTA">
          <ion-segment-button value="MASCOTA">
            <ion-label>Mascotas</ion-label>
          </ion-segment-button>
          <ion-segment-button value="NOTICIA">
            <ion-label>Noticias</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-toolbar>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid [fixed]="true" >
  <ion-row>
          <div *ngIf="optionSelected == 'MASCOTA'">
            <app-list-publicacion [publicaciones]="mascotaPublicacion$ | async"

            (publicacionDeleted)="reloadPublicaciones()"></app-list-publicacion>
          </div>
          <div *ngIf="optionSelected == 'NOTICIA'">
            <app-list-publicacion [publicaciones]="noticiaPublicacion$ | async"
            (publicacionDeleted)="reloadPublicaciones()"></app-list-publicacion>
          </div>
  </ion-row>
</ion-grid>


<!----------------Org Amiga-->
<ng-container  >
  <ng-container>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button >
        <ion-icon name="chevron-up-circle"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top" >
        <ion-fab-button routerLink="/publicacion">
          <ion-icon name="document"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="paw" routerLink="/ficha"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="document" routerLink="/list-solicitud"></ion-icon> <!---ver solicitudes-->
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="heart" routerLink="/donar"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </ng-container>
</ng-container>


</ion-content>
