

  <ion-grid [fixed]="true">

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-title>Crear Ficha Mascota</ion-title>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
    <ion-row>
      <ion-col>
      <ion-col >
        <form [formGroup]="form" novalidate>
          <ion-item fill="outline">
            <ion-label position="stacked">Nombre</ion-label>
              <ion-input placeholder="Nombre"  formControlName="nombre" type="text"></ion-input>
              <ion-note slot="helper" *ngIf="!form.controls.nombre.valid && form.controls.nombre.touched"></ion-note>
              <ion-note slot="error"></ion-note>
          </ion-item>
          <ion-item fill="outline">
            <ion-label position="stacked">Fecha de nacimiento</ion-label>
              <ion-input placeholder="Fecha de nacimiento"  formControlName="nacimiento" type="date"></ion-input>
              <ion-note slot="helper" *ngIf="!form.controls.nacimiento.valid && form.controls.nacimiento.touched"></ion-note>
              <ion-note slot="error"></ion-note>
          </ion-item>
          <ion-item fill="outline">
            <ion-label position="stacked">Raza</ion-label>
              <ion-input placeholder="Raza"  formControlName="raza" type="text"></ion-input>
              <ion-note slot="helper" *ngIf="!form.controls.raza.valid && form.controls.raza.touched"></ion-note>
              <ion-note slot="error"></ion-note>
          </ion-item>
          <ion-item fill="outline">
            <ion-label position="stacked">Color</ion-label>
              <ion-input placeholder="Color"  formControlName="color" type="text"></ion-input>
              <ion-note slot="helper" *ngIf="!form.controls.color.valid && form.controls.color.touched"></ion-note>
              <ion-note slot="error"></ion-note>
          </ion-item>
          <ion-item fill="outline">
            <ion-label position="stacked">Tamaño</ion-label>
              <ion-input placeholder="Tamaño"  formControlName="tamanio" type="text"></ion-input>
              <ion-note slot="helper" *ngIf="!form.controls.tamanio.valid && form.controls.tamanio.touched"></ion-note>
              <ion-note slot="error"></ion-note>
          </ion-item>

          <ion-item fill="outline">
            <ion-label position="stacked">Carácter</ion-label>
              <ion-input placeholder="Carácter"  formControlName="description" type="text"></ion-input>
              <ion-note slot="helper" *ngIf="!form.controls.description.valid && form.controls.description.touched"></ion-note>
              <ion-note slot="error"></ion-note>
          </ion-item>

          <ion-list>
            <ion-item fill="outline">
              <ion-label position="stacked">Especie</ion-label>
              <ion-select placeholder="Especie"  interface="popover"  formControlName="especie">
                <ion-select-option value="PERRO">Perro</ion-select-option>
                <ion-select-option value="GATO">Gato</ion-select-option>
                <ion-select-option value="OTRO">Otro</ion-select-option>
              </ion-select>
              <ion-note slot="helper" *ngIf="!form.controls.especie.valid && form.controls.especie.touched"></ion-note>
            <ion-note slot="error"></ion-note>
            </ion-item>
          </ion-list>

          <ion-list>
            <ion-item fill="outline">
              <ion-label position="stacked">Estado</ion-label>
              <ion-select placeholder="Estado"  interface="popover"  formControlName="estado">
                <ion-select-option value="ADOPTADO">Adoptado</ion-select-option>
                <ion-select-option value="NOADOPTADO">No adoptado</ion-select-option>
              </ion-select>
              <ion-note slot="helper" *ngIf="!form.controls.estado.valid && form.controls.estado.touched"></ion-note>
            <ion-note slot="error"></ion-note>
            </ion-item>
          </ion-list>

          <ion-item fill="outline">
            <ion-label position="stacked"> Número Micro Chip</ion-label>
              <ion-input placeholder="Número"  formControlName="microChip" type="text"></ion-input>
              <ion-note slot="helper" *ngIf="!form.controls.microChip.valid && form.controls.microChip.touched"></ion-note>
              <ion-note slot="error"></ion-note>
          </ion-item>

          <ion-item lines="none">
            <ion-label position="stacked" >Cargar imagen</ion-label>
            <ion-input type="file" formControlName="image"></ion-input>
          </ion-item>


        <ion-item lines="none"></ion-item>

          <ion-button lines="none"  [disabled]="!form.valid"
              (click)="onCreateFicha()">
            Crear Ficha
          </ion-button>

          <ion-item lines="none"></ion-item>
        </form>
      </ion-col>
    </ion-col>
    </ion-row>
  </ion-grid>

