<ion-header>
  <ion-toolbar>
    <ion-title>
      Solicitudes
    </ion-title>
  </ion-toolbar>
</ion-header>


  <ion-list *ngFor="let adopcion of adopciones">

    <ion-item>
      <ion-label>
        <h2>{{ adopcion.fecha }}</h2>
        <p>{{ adopcion.description }}</p>
        <p *ngIf="adopcion.estado == 'enviada'">Estado: Enviada</p>
        <p *ngIf="adopcion.estado == 'aceptada'">Estado: Aceptada</p>
        <p *ngIf="adopcion.estado == 'rechazada'">Estado: Rechazada</p>
        <ion-button color="success" expand="block" (click)="updateAdoptar(adopcion,'aceptada')">Aceptar</ion-button>
        <ion-button color="danger" expand="block" (click)="updateAdoptar(adopcion,'rechazada')">Rechazar</ion-button>
      </ion-label>
    </ion-item>

  </ion-list>
