
    <ion-title>
      Solicitudes adopción
    </ion-title>


  <ion-list *ngFor="let adopcion of adopciones">

    <ion-card>
      <ion-card-header>
        <p  class="estado" *ngIf="adopcion.estado == 'enviada'">Estado: Enviada</p>
        <p class="estado" *ngIf="adopcion.estado == 'aceptada'">Estado: Aceptada</p>
        <p class="estado" *ngIf="adopcion.estado == 'rechazada'">Estado: Rechazada</p>
        <ion-card-subtitle>{{ adopcion.fecha.seconds*1000 | date:'dd-MM-YYYY  hh:mm'  }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{ adopcion.description }}
      </ion-card-content>
      <ion-button color="success" expand="block" (click)="updateAdoptar(adopcion,'aceptada')">Aceptar</ion-button>
      <ion-button  color="danger" expand="block" (click)="updateAdoptar(adopcion,'rechazada')">Rechazar</ion-button>
    </ion-card>
  </ion-list>
