<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">Cancelar</ion-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="editFicha()" [strong]="true">Confirmar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content  class="ion-padding" [formGroup]="form">
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input type="text" placeholder="{{nombre}}"  formControlName="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Nacimiento </ion-label>
    <ion-input type="text" placeholder="{{nacimiento}}"formControlName="nacimiento" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Raza</ion-label>
    <ion-input type="text" placeholder="{{raza}}"formControlName="raza" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Color</ion-label>
    <ion-input type="text" placeholder="{{color}}"formControlName="color" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Tamaño</ion-label>
    <ion-input type="text" placeholder="{{tamanio}}"formControlName="tamanio" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Carácter</ion-label>
    <ion-input type="text" placeholder="{{description}}"formControlName="description" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Especie</ion-label>
    <ion-input type="text" placeholder="{{especie}}"formControlName="especie" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Estado</ion-label>
    <ion-select type="text" placeholder="{{estado}}" formControlName="estado"  interface="popover" >
      <ion-select-option  value="ADOPTADO">Adoptado</ion-select-option>
      <ion-select-option value="NOADOPTADO">No adoptado</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">MicroChip</ion-label>
    <ion-input type="text" placeholder="{{microChip}}"formControlName="microChip" ></ion-input>
  </ion-item>


</ion-content>
