<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Welcome</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="editFicha()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content  class="ion-padding" [formGroup]="form">
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input type="text" placeholder="{{nombre}}"  formControlName="nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Carácter</ion-label>
    <ion-input type="text" placeholder="{{description}}"formControlName="description" ></ion-input>
  </ion-item>

</ion-content>
