
ion-col {
  // background-color: #135d54;
  // border: solid 1px #fff;
   color: #fff;
   text-align: center;
 }

 ion-title{
   font-family: 'Fira Sans Extra Condensed', sans-serif;
   color: black;
 }

 ion-item{

   margin-left: 12%;
   margin-right: 12%;
   margin-top: 10px;
 }
