<!--- Banner principal-->
<ion-content>
<div class="hero">
  <div class="center">
  <h2 class="titulo-banner" style="font-size:6vw"></h2>
    <img alt="img" src='../../assets/icon/banner-original.jpg'>
  </div>
</div>

<ion-grid class="col">
  <ion-row>
    <ion-col class="col1">
      <h1>¡Bienvenido Petlover! Aquí podrás ver todas las mascotas que están en busca de una familia que los acoja y los cuide.
        Además, podrás ver noticias y avisos que suban nuestras Organizaciones amigas.
      </h1>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="col2">
  <ion-row>
      <section class="grid1">
        <div >
          <ion-card>
            <img  class="img-card-informativo" alt="ley-tenencia-responsable" src="../../assets/icon/170718_ley-de-tenecia-responsable_320x210.png" />
            <ion-card-header>
              <ion-card-title>Ley de Tenencia responsable</ion-card-title>
                <ion-buttons class="ver-mas" routerLink="https://www.bcn.cl/leychile/navegar?idNorma=1106037">Ver más</ion-buttons>
            </ion-card-header>
          </ion-card>
        </div>
        <div >
          <ion-card>
            <img   class="img-card-informativo"alt="banner-tenencia-responsable" src="../../assets/icon/banner-tenencia-responsable.png" />
            <ion-card-header>
              <ion-card-title>Registra a tu mascota aquí</ion-card-title>
              <ion-buttons class="ver-mas"  routerLink="['https://registratumascota.cl/consultas.xhtml']">Ver más</ion-buttons>
            </ion-card-header>
          </ion-card>
        </div>
        <div >
          <ion-card>
            <img  class="img-card-informativo" alt="mascota-extraviada" src="../../assets/icon/mascota-extraviada.jpg" />
            <ion-card-header>
              <ion-card-title>Buscar mascota extraviada</ion-card-title>
              <ion-buttons class="ver-mas" routerLink="https://registratumascota.cl/consultas.xhtml">Ver más</ion-buttons>
            </ion-card-header>
          </ion-card>
        </div>
      </section>
  </ion-row>
</ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col class="col2">
        <ion-searchbar color="light" ></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <section class="grid">
      <div >
        <ion-card>
          <img class="img-card-post" alt="perros" src="../../assets/icon/perro1.jpg" />
          <ion-card-header>
            <ion-card-title>Pepe</ion-card-title>
            <ion-card-subtitle>Concón, Valparaíso</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>
      <div >
        <ion-card>
          <img class="img-card-post" alt="perros" src="../../assets/icon/perro2.jpg" />
          <ion-card-header>
            <ion-card-title>Luna</ion-card-title>
            <ion-card-subtitle>La Serena, Chile</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </div>
    </section>
  </ion-grid>

</ion-content>

<app-footer titulo="© 2022 Petfriends - Todos los derechos reservados.">
</app-footer>


